.App {
  text-align: center;
}

input {
  margin: 10px;
  height: 20px;
  border-radius: 5px;
  outline-color: #3db2d5;
}
button {
  background-color: #282c34;
  color: white;
  border: 2px solid #ffca28;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.input-group {
}

.content {
  width: 70%;
}

.joke-bg {
  background-color: #0d484e;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
